
/* .H2-Itinerary-List {
    /* margin: 10px; */
    /* text-align: center; */

/* } */ 

.Itinerary-List-Name {
    font-family: Playfair Display;
    font-size: 3rem;
    padding-right: 50px;
    text-align: center;
}

