.Results-Expanded {
        display: flex;
        width: 70vw;
        height: 70vh;
        margin: 20px auto;
        background: #fff;
        border-radius: 50px;
}

.Close {
    text-align: right;
}

#Modal-Pic {
    border-radius: 12px;
}

/* .Expanded-H2 {
    text-align: center;
    margin: 5px;
} */

.Expanded-Result-Content {
    /* margin-left: 20px; */
}


.Results-Expanded-Left {
    /* border: 2px solid red; */
    
}

.Reviews {
padding-left: 50px
}

.Reviews h1{
    padding-left: 15px;
}

.Review-Count {
    font-size: .8em;
    color: rgb(95, 95, 95);
}


#Price-Modal {
font-weight: 600;
color: rgb(95, 95, 95);
}

#Open-or-Closed {
    font-weight: 600;
    color: green;
}

.Category-Bullets {
    list-style: none;
}

.One-Review {
    border-bottom: 1px solid rgb(160, 160, 160);
    padding: 30px;
    width: 90%;
    font-size: 1.1em;
}

.Rating {
    font-weight: 600;

}

#Rating-In-Review {
    color: green;
    font-size: 1.2em;
}

#Review-Link {
    color: rgb(119, 119, 119);
    font-size: 0.75em;
   font-style: italic;
}

#Review-Link:hover {
    color: rgb(255, 81, 0);
}

#Add-Button-Div {
padding-top: 30px;
display: flex;
justify-content: center;
}

#Add-to-List-Button-Modal{
    border-radius: 15px;
    height: 50px;
    width: 275px;
    border: none;
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

#Add-to-List-Button-Modal:hover {
    background-color: rgb(230, 126, 28);
    transform: scale(1.03);
  transition: 100ms;
  color: white;
}

#Add-to-List-Button-Modal[disabled] {
    background-color: rgb(170, 170, 170);
    transform: scale(1);
    color: rgb(80, 80, 80);
 }

#Add-to-List-Button-Modal[disabled]:hover {
   /* background-color: grey; */
   transform: scale(1);
   color: rgb(80, 80, 80);
   /* color: rgb(65, 65, 65) */
}

#Add-to-List-Button-Modal:active {
  background-color: rgb(202, 100, 4);
  transform: scale(1);
}

.Yelp-Logo {
 height: 22px;
 position: relative;
 float: right;
}

#X-Modal-Close {
    position: absolute;
    font-weight: 600;
    right: 25px;
    top: 25px;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .Results-Expanded {
        display: flex;
        flex-direction: column;
        width: 70vw;
        height: 75vh;
        margin: 20px auto;
        background: #fff;
        border-radius: 50px;
        transition: 2s;
        
}

.Reviews {
    padding-left:0px;
    padding-top: 20px;
    }

#Modal-Pic {

}

}