.Results-Expanded {
        display: flex;
        width: 70vw;
        height: 85vh;
        flex-direction: column;
        position: relative;
        margin: 20px auto;
        background: #fff;
        border-radius: 2px;
}

.Close {
    text-align: right;
}

.Expanded-Img {
    text-align: center;
}

.Expanded-H2 {
    text-align: center;
    margin: 5px;
}

.Expanded-Result-Content {
    margin-left: 20px;
}