* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Form-Container {
    height: 100vh;
    width: 100vw;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px solid red */
}

.Form-Div {
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(201, 139, 139);
height: 100px;
width: 100%;
position: relative;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

form {
    width: 80%;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;




}


.Local-Options-Container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.Local {
    color: white;
    background-color: #4564ca;
    height: 150px;
    width: 164px;
    margin: 10px;
    text-align: center;
}

#Search-Bar {
    height: 35px;
    width: 70%;
    border: none;
    border-radius: 5px;
}

#Search-Button {
    Width:80px;
    height: 36px;
    margin-left: 15px;
    border-radius: 5px;
    border: none;
}